.main {
    box-shadow: 0 0 0 6px #F25252;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: -10px;
    background-color: black;
    height: 3000px;
    width: 100%;
    text-align: center;
}

.new__products {

    background-color: white;
    height: 20%;


}

.new__title {

    transition: font-size .5s ease-out;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    vertical-align: center;
}

.new__title>span {
    position: relative;
    display: inline-block;
}

.new__title>span:before,
.new__title>span:after {
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 2px solid;
    width: 30vw;
    /* half of limiter */
    margin: 0 20px;
}

.new__title>span:before {
    right: 100%;
}

.new__title>span:after {
    left: 100%;
}

.right__btn {
    cursor: pointer;
}

.left__btn {
    cursor: pointer;
}


.tape__control {
    display: none;

}


.instruments__tape {
    overflow-x: hidden;
    transition: width 1s ease-out, left.3s ease-out;
    height: 75%;
    width: 100%;
    position: relative;
    left: 0px;
    display: flex;
    text-align: center;
    vertical-align: center;
    align-content: center;


}

.instruments {

    display: flex;
    flex-direction: column;
    margin: auto;

}

.instrument {

    width: 112px;
    height: 336px;
    margin: auto;


}

.instrument__link {

    color: black;
    text-decoration: none;
    margin-top: 35px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;

}

.instrument__link:hover {
    transition: color .3s ease-out, text-shadow .3s ease-out;
    color: #F25252;
    text-shadow: 0px 0px 2px #F25252;
}


.hot__product {
    box-shadow: 0 0 0 6px #F25252;
    background-color: black;
    height: 75%;
}


.white {
    font-weight: 100;

    color: rgb(255, 255, 255);
}

.hot__reference {
    transition: font-size .5s ease-out, height .5s ease-out;
    text-shadow: 0px 0px 60px rgb(0, 0, 0);
    margin-top: 80px;
    font-family: Hammersmith One, sans-serif;
    font-size: 200px;
    color: rgb(255, 255, 255);
    line-height: 115px;
    background-image: url("./data/hotOneCover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    background-position: center, center;
}

.characteristics {
    box-shadow: 0 0 0 15px rgb(255, 126, 5);
    background-color: white;
    top: 150px;
    position: relative;
    display: flexbox;
    width: 100%;
    height: 5000px;


}

.characteristic {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}



.characteristics__title {
    transition: opacity .5s ease-out, font-size .5s ease-out, width .5s ease-out, height .5s ease-out;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F25252;
    margin: auto;
    color: white;
    font-size: 35px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    font-family: 'Raleway', sans-serif;
}



.characteristics__one {
    transition: margin-left 0.7s ease-out;
    padding-top: 2vw;
    margin-left: -60%;
    display: flex;
    width: 50%;

}

.characteristics__two {
    transition: margin-left 0.7s ease-out;
    padding-top: 2vw;
    margin-left: -60%;
    display: flex;
    width: 50%;
}

.characteristics__three {
    transition: margin-left 0.6s ease-out;
    padding-top: 2vw;
    display: flex;
    width: 55%;
    margin-left: -70%;
}





/*//////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////*/
/* medium screens */
@media (max-width: 1300px) {
    .instruments__tape {
        transition: width 1s ease-out, left.3s ease-out;
        width: 190%;
        left: 0px;
    }

    .tape__control {

        left: 3%;
        top: 1220px;
        position: absolute;
        width: 93vw;
        display: flex;
        justify-content: space-between;

    }

    .right__btn {
        transform: rotate(180deg);
    }

    .hot__reference {
        transition: font-size .5s ease-out, height .5s ease-out;
        font-size: 130px;
        line-height: 80px;
        height: 220px;
    }

    .characteristics__one {

        width: 60%;
    }

    .characteristics__title {
        transition: opacity .5s ease-out, font-size .5s ease-out, width .5s ease-out, height .5s ease-out;
        font-size: 20px;
        width: 250px;
        height: 250px;

    }



}



/*//////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////*/
/* small screens */
@media (max-width: 800px) {
    .new__title {
        font-size: 16px;
    }

    .instruments__tape {

        width: 575%;
        margin-left: -0%;
    }

    .tape__control {
        top: 1020px;
        position: absolute;
        width: 90vw;
        display: flex;
        justify-content: space-between;

    }

    .hot__reference {
        margin-top: 30px;
        font-size: 70px;
        line-height: 40px;
        height: 150px;
    }

    .characteristics__one,
    .characteristics__two,
    .characteristics__three {

        width: 90%;
    }

    .characteristic {
        display: block;
        align-items: center;
        text-align: center;


    }

    .characteristics__title {
        transition: opacity .5s ease-out, font-size .5s ease-out, width .5s ease-out, height .5s ease-out;
        color: black;
        background-color: initial;
        font-size: 20px;
        width: 250px;
        height: 250px;     
    }

   








}