.main {
    margin-top: -10px;
    background-color: black;
    height: 2500px;
    width: 100%;
    text-align: center;
}

.new__products {

    background-color: white;
    height: 25%;
    box-shadow: 0 0 0 6px #F25252;

}

.new__title {
    transition: font-size .5s ease-out;
    padding-top: 70px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.hot__product {
    box-shadow: 0 0 0 6px #F25252;
    background-color: black;
    height: 75%;

}



/*//////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////*/
/* medium screens */
@media (max-width: 1300px) {




}



/*//////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////*/
/* small screens */
@media (max-width: 980px) {
    .new__title {
       
        font-size: 15px;
       
    }


}