/*normal 1080 screen */
* {
    margin: 0;
    border-style: hidden;

}


.container {
    display: none;
}


.mainHeader__cover {
    background-blend-mode: darken;
    transition: 5s, background-position-x 5s 0s ease-out, background-position-y .4s 0s ease-out;
    background-image: url("./data/mainCover0.png");
    background-size: 2210px 1178px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 25% 30%;
    height: 900px;
    overflow-x: hidden;

}

.mainHeader__navigation {

    transition: width .5s 0s ease-out, margin .5s 0s ease-out, box-shadow .5s;
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0 15px 20px 0 rgb(0, 0, 0);
    background-position-x: 30px;
    display: inline-flex;
    padding-bottom: 10px;
    margin-left: 10vw;
    margin-top: 30px;
    width: 80vw;
    height: 96px;

}

.logo {
    transition: width 1s;
    margin: auto;
    width: 132px;
}

.mainHeader__left {

    margin-left: 5%;
    margin-top: 10px;

}

.mainHeader__middle {


    margin-left: 2vw;
    margin-top: 32px;
    width: 65%;

}

.mainHeader__bottom {
    transition: margin-top .5s 0s ease-out, margin-left .5s 0s ease-out;
    margin-top: 15px;
    width: 100%;
    line-height: 20px;
}

.mainheader__srchBar {
    box-shadow: 0 4px 0 0 #F25252;
    height: 28px;
    width: 100%;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    vertical-align: bottom;
    padding-left: 10px;

}

.mainHeader__right {


    margin-top: 18px;
    margin-left: 5%;


}

.mainNav__link {

    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: lighter;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    transition: text-shadow .3s, color .3s;



}

.mainNav__link:hover {
    color: #F25252;
    text-shadow: 0 0 .20px #F25252, 0 0 .20px #F25252, 0 0 .9px #F25252;
}

.mainNav__link:nth-child(n+2) {
    margin-left: 8vw;
}

.mainHeader__searchButton {

    width: 75px;
}


.coverInfo {

    margin-top: 200px;
    width: 100vw;

}


.coverInfo__button {
    background: rgba(41, 41, 41, 0.1);
    background: -moz-linear-gradient(-45deg, rgba(41, 41, 41, 0.1) 0%, rgba(33, 33, 33, 0.68) 30%, rgba(38, 38, 38, 1) 60%, rgba(28, 28, 28, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(41, 41, 41, 0.1)), color-stop(30%, rgba(33, 33, 33, 0.68)), color-stop(60%, rgba(38, 38, 38, 1)), color-stop(100%, rgba(28, 28, 28, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(41, 41, 41, 0.1) 0%, rgba(33, 33, 33, 0.68) 30%, rgba(38, 38, 38, 1) 60%, rgba(28, 28, 28, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(41, 41, 41, 0.1) 0%, rgba(33, 33, 33, 0.68) 30%, rgba(38, 38, 38, 1) 60%, rgba(28, 28, 28, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(41, 41, 41, 0.1) 0%, rgba(33, 33, 33, 0.68) 30%, rgba(38, 38, 38, 1) 60%, rgba(28, 28, 28, 1) 100%);
    background: linear-gradient(135deg, rgba(41, 41, 41, 0.1) 0%, rgba(33, 33, 33, 0.68) 30%, rgba(38, 38, 38, 1) 60%, rgba(28, 28, 28, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#292929', endColorstr='#1c1c1c', GradientType=1);
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    text-decoration: none;
    margin-left: 65%;
    transition: color .3s, text-shadow .3s, font-size .3s;

}

.coverInfo__button:hover {
    color: #F25252;
    text-shadow: 0 0 .20px #F25252, 0 0 .20px #F25252, 0 0 .9px #F25252;
    font-size: 27px;

}

.coverInfo__title {
    background: -moz-linear-gradient(top, rgba(19, 19, 19, 0) 0%, rgba(14, 14, 14, 0.74) 28%, rgba(8, 8, 8, 1) 59%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(19, 19, 19, 0)), color-stop(28%, rgba(14, 14, 14, 0.74)), color-stop(59%, rgba(8, 8, 8, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(19, 19, 19, 0) 0%, rgba(14, 14, 14, 0.74) 28%, rgba(8, 8, 8, 1) 59%, rgba(0, 0, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(19, 19, 19, 0) 0%, rgba(14, 14, 14, 0.74) 28%, rgba(8, 8, 8, 1) 59%, rgba(0, 0, 0, 1) 100%);
    background: -ms-linear-gradient(top, rgba(19, 19, 19, 0) 0%, rgba(14, 14, 14, 0.74) 28%, rgba(8, 8, 8, 1) 59%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(19, 19, 19, 0) 0%, rgba(14, 14, 14, 0.74) 28%, rgba(8, 8, 8, 1) 59%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#131313', endColorstr='#000000', GradientType=0);
    width: 100%;
    height: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.bulletContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: -70px;

}

.bullets input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.bulletContainer .bullet {


    display: flex;
    margin-left: 18px;
    margin-right: 18px;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border-Radius: 50%;
    transition: background-color 1s, box-shadow .5s;
    cursor: pointer;

}

.bullets:hover .bullet {
    box-shadow: 0 0 0 4px rgb(255, 255, 255);
}

.bullets input:checked+.bullet {
    box-shadow: 0 0 0 4px #F25252;
    background-color: #F25252;
}

.hotOnes {
    margin-top: -10px;
    background-color: black;
    height: 500px;
}





/* big screens */
@media (min-width: 1950px) {
    .mainHeader__cover {

        transition: 5s, background-position .4s 0s ease-out;
        background-size: cover;
    }
}





/* Medium screens*/
@media (max-width: 1300px) {
    .mainHeader__cover {
        transition: 3s, background-position-x 10s 0s ease-out, background-position-y .3s 0s ease-out;
        background-size: cover;

    }

    .mainHeader__bottom {
        display: flex;
        justify-content: left;
        transition: margin-top .5s 0s ease-out, margin-left .5s 0s ease-out;
        width: 90vw;

    }

    .mainHeader__navigation {
        transition: width .2s 0s ease-out, margin .2s .4s ease-out, box-shadow .5s, background-color 1s 0.5s;
        width: 100%;
        margin: 0;
        margin-top: 20px;
        box-shadow: 0 0px 0px 0 rgb(0, 0, 0);

    }

    .mainHeader__middle {
        transition: display 2s;
        width: 65%;
        margin-top: 25px;
    }

    .logo {
        transition: width 1s;
        margin: auto;
        width: 115px;
    }

    .mainHeader__searchButton {
        margin-left: -10px;
        width: 65px;
        margin-top: -3px;
    }
}






/* small screens*/
@media (max-width: 980px) {

    .mainHeader__cover {
        transition: 3s, background-position-x 10s 0s ease-out, background-position-y .02s;
        background-size: 1500px 797px;
        background-attachment: local;
        background-position-y: 60px;


    }

    .mainHeader__navigation {
        transition: margin .1s 0s ease-out, box-shadow .5s, background-color .4s, height .5s;
        background-color: rgb(24, 24, 24);
        width: 100vw;
        margin: 0;
        height: 56px;

    }

    .mainHeader__left {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 2;
    }

    .logo {
        margin-left: 10%;
        transition: width 1s;
        width: 90px;
    }

    .hamburgerButton {
        margin-right: 5%;
        display: flexbox;
        cursor: pointer;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 32px;
        height: 5px;
        background-color: rgb(255, 255, 255);
        margin: 5px 0;
        transition: 0.4s;
    }

    /* Rotate first bar */
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    /* Fade out the second bar */
    .change .bar2 {
        opacity: 0;
    }

    /* Rotate last bar */
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .mainHeader__middle {

        cursor: pointer;
        height: 0;
        width: 0;
    }

    .mainHeader__right {
        display: none;
    }

    .mainHeader__top {
        z-index: 1;
        transition: top .7s;
        padding: 10px;
        display: flex;
        text-align: center;
        justify-content: center;
        top: -125px;
        left: 0px;
        width: 100%;
        background-color: rgba(24, 24, 24, 0.90);
        position: absolute;

    }

    .mainheader__srchBar {

        display: block;
        width: 60%;
    }

    .mainHeader__bottom {
        z-index: 1;
        transition: top .7s;
        position: absolute;
        top: -180px;
        left: 0px;
        width: 100%;
        display: block;
        text-align: center;
        justify-content: center;
        background-color: rgba(24, 24, 24, 0.90);
    }

    .mainNav__link {
        display: block;
        padding: 10px;

    }

    .mainNav__link:nth-child(n+2) {
        margin-left: 0;
    }



}