/*//////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////*/



/*normal 1080 screen */
* {
    margin: 0;
    border-style: hidden;

}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    scroll-behavior: smooth;

}


.mainHeader__cover {
    background-blend-mode: darken;
    transition: 5s, background-position-x 5s 0s ease-out, background-position-y .5s 0s ease-out;
    background-image: url("./data/mainCover0.png");
    background-size: 2210px 1178px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 25% 30%;
    height: 900px;


}

.mainHeader__navigation {

    transition: width .6s 0s ease-out, margin .5s 0s ease-out, box-shadow .5s, background-color 2s;
    background-color: rgba(0, 0, 0, 0.548);
    box-shadow: 0 15px 20px 0 rgb(0, 0, 0);
    background-position-x: 30px;
    display: inline-flex;
    padding-bottom: 10px;
    margin-left: 10vw;
    margin-top: 30px;
    width: 80vw;
    height: 96px;

}

.logo {
    transition: width 1s;
    margin: auto;
    width: 132px;
}

.mainHeader__left {

    margin-left: 5%;
    margin-top: 10px;

}

.mainHeader__middle {

    margin-left: 2vw;
    margin-top: 32px;
    width: 65%;

}

.mainHeader__bottom {
    transition: margin-top .5s 0s ease-out, margin-left .5s 0s ease-out;
    margin-top: 15px;
    width: 100%;
    line-height: 20px;
}

.mainheader__srchBar {
    box-shadow: 0 4px 0 0 #F25252;
    height: 28px;
    width: 100%;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    vertical-align: bottom;
    padding-left: 10px;

}

.burguerGlass {
    display: none;
}

.mainHeader__right {


    margin-top: 18px;
    margin-left: 5%;


}

.mainNav__link {

    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: lighter;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    transition: text-shadow .3s, color .3s;



}

.mainNav__link:hover {
    color: #F25252;
    text-shadow: 0 0 .20px #F25252, 0 0 .20px #F25252, 0 0 .9px #F25252;
}

.mainNav__link:nth-child(n+2) {
    margin-left: 8vw;
}

.mainHeader__searchButton {

    width: 75px;
}


.coverInfo {
    text-align: center;
    display: flexbox;
    align-items: center;
    justify-content: center;
    margin-top: 170px;
    width: 100vw;

}


.coverInfo__button {

    background-color: rgba(49, 48, 48, 0.904);
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    text-decoration: none;
    margin-left: 70%;
    margin-top: 230px;
    transition: color .3s, text-shadow .3s, font-size .3s, margin .5s;

}

.coverInfo__button:hover {
    color: #F25252;
    text-shadow: 0 0 .20px #F25252, 0 0 .20px #F25252, 0 0 .9px #F25252;
    font-size: 32px;
    justify-content: center;

}

.coverInfo__title {
    transition: margin-top 2s, font-size .5s;
    background: -moz-linear-gradient(top, rgba(19, 19, 19, 0) 0%, rgba(14, 14, 14, 0.74) 28%, rgba(8, 8, 8, 1) 59%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(19, 19, 19, 0)), color-stop(28%, rgba(14, 14, 14, 0.74)), color-stop(59%, rgba(8, 8, 8, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(19, 19, 19, 0) 0%, rgba(14, 14, 14, 0.74) 28%, rgba(8, 8, 8, 1) 59%, rgba(0, 0, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(19, 19, 19, 0) 0%, rgba(14, 14, 14, 0.74) 28%, rgba(8, 8, 8, 1) 59%, rgba(0, 0, 0, 1) 100%);
    background: -ms-linear-gradient(top, rgba(19, 19, 19, 0) 0%, rgba(14, 14, 14, 0.74) 28%, rgba(8, 8, 8, 1) 59%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(19, 19, 19, 0) 0%, rgba(14, 14, 14, 0.74) 28%, rgba(8, 8, 8, 1) 59%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#131313', endColorstr='#000000', GradientType=0);
    width: 100%;
    height: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin-top: -100px;

}

.bulletContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: -60px;

}

.bullets input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.bulletContainer .bullet {


    display: flex;
    margin-left: 18px;
    margin-right: 18px;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border-Radius: 50%;
    transition: background-color 1s, box-shadow .5s, width .5s, height .5s, margin .5;
    cursor: pointer;

}

.bullets:hover .bullet {
    box-shadow: 0 0 0 4px rgb(255, 255, 255);
}

.bullets input:checked+.bullet {
    box-shadow: 0 0 0 4px #F25252;
    background-color: #F25252;
}



/*//////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////*/

/* big screens */
@media (min-width: 1950px) {
    .mainHeader__cover {

        transition: 5s, background-position .4s 0s ease-out;
        background-size: cover;
    }
}


/*//////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////*/



/* Medium screens*/
@media (max-width: 1300px) {
    .mainHeader__cover {
        transition: 3s, background-position-x 10s 0s ease-out, background-position-y 0s 0s ease-out;
        background-size: cover;

    }

    .mainHeader__bottom {
        display: flex;
        justify-content: left;
        transition: margin-top .5s 0s ease-out, margin-left .5s 0s ease-out;
        width: 90vw;


    }

    .mainHeader__navigation {
        transition: width .5s 0s ease-out, margin .8s 0s ease-out, box-shadow .5s, background-color 2s;
        width: 100%;
        margin: 0;
        margin-top: 20px;
        background-color: rgba(21, 18, 34, 0.685);
        box-shadow: 0 0px 0px 0 rgb(36, 10, 10);

    }

    .mainHeader__middle {
        transition: display 2s;
        width: 65%;
        margin-top: 25px;
    }

    .logo {
        transition: width 1s;
        margin: auto;
        width: 115px;
    }

    .mainHeader__searchButton {
        margin-left: -10px;
        width: 65px;
        margin-top: -3px;
    }

    .coverInfo__button {

        transition: color .3s, text-shadow .3s, font-size .3s, margin 1s;
        background-color: rgba(27, 27, 27, 0.781);
        width: 320px;
        height: 320px;
        font-size: 26px;
        margin-top: 0px;
        margin-left: 60%;

    }

    .coverInfo__title {
        transition: margin 2s, font-size .5s;
        margin-top: 10px;
        font-size: 42px;
    }
}


/*//////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////*/


/* small screens*/
@media (max-width: 980px) {

    .mainHeader__cover {
        transition: 3s, background-position-x 10s 0s ease-out, background-position-y 0s;
        background-size: 1500px 797px;
        background-attachment: local;
        background-position-y: 60px;


    }

    .mainHeader__navigation {
        transition: margin .2s 0s ease-out, box-shadow .5s, background-color 2s, height .5s;
        background-color: rgb(6, 2, 27);
        width: 100vw;
        margin: 0;
        height: 56px;

    }

    .mainHeader__left {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 2;
    }

    .logo {
        margin-left: 10%;
        transition: width 1s;
        width: 70px;
    }

    .hamburgerButton {
        margin-right: 5%;
        display: flexbox;
        cursor: pointer;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 32px;
        height: 5px;
        background-color: rgb(255, 255, 255);
        margin: 5px 0;
        transition: 0.4s;
    }

    /* Rotate first bar */
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    /* Fade out the second bar */
    .change .bar2 {
        opacity: 0;
    }

    /* Rotate last bar */
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .mainHeader__middle {

        cursor: pointer;
        height: 0;
        width: 0;

    }

    .mainHeader__right {
        display: none;
    }

    .mainHeader__top {
        z-index: 1;
        transition: top .7s;
        display: inline-flex;
        text-align: center;
        justify-content: center;
        top: -155px;
        left: 0px;
        height: 50px;
        width: 100vw;
        background-color: rgba(6, 2, 27, 0.8);
        position: absolute;

    }

    .mainheader__srchBar {

        position: absolute;
        margin: auto;
        opacity: 0;
        margin-top: 12px;
        margin-left: -40px;
        transition: width .7s;
        width: 0%;

    }

    .burguerGlass {
        transition: margin-left .7s;
        display: block;
        margin-top: 16px;
        height: 25px;
        width: 25px;

    }

    .mainHeader__bottom {
        z-index: 1;
        transition: top .7s;
        position: absolute;
        top: -180px;
        left: 0px;
        width: 100vw;
        display: block;
        text-align: center;
        justify-content: center;
        background-color: rgb(6, 2, 27, 0.8);
    }

    .mainNav__link {
        display: block;
        padding: 10px;

    }

    .mainNav__link:nth-child(n+2) {
        margin-left: 0;

    }


    .coverInfo__title {
        transition: margin-top 2s, font-size .5s;
        font-size: 26px;
        margin-top: -28px;
    }

    .coverInfo__button {
        background-color: rgba(39, 39, 39, 0.781);
        margin-left: 34%;
        width: 220px;
        height: 220px;
        font-size: 16px;
        transition: color .3s, text-shadow .3s, font-size .3s, margin .8s;

    }

    .coverInfo__button:hover {
        font-size: 20px;

    }

    .bulletContainer {
        top: -110px;

    }

    .bulletContainer .bullet {

        transition: width .5s, height .5s, margin .5;
        margin-left: 12px;
        margin-right: 12px;
        width: 3px;
        height: 3px;
    }

    .bullets:hover .bullet {
        box-shadow: 0 0 0 2px rgb(255, 255, 255);
    }

    .bullets input:checked+.bullet {
        box-shadow: 0 0 0 2px #F25252;

    }

    @media (max-width: 650px) {
        .coverInfo__button {
            margin: auto;

        }

        .coverInfo__title {
            transition: margin-top .5s, font-size .5s;
            font-size: 20px;

        }

    }

}