* {
    margin: 0;
    border-style: hidden;
}


.mainHeader--cover {
    position: relative;
    width: 100%;
    z-index: 0;
    top: -125px;
}

.logo {
    width: 110%;
}

.mainHeader--navigation {
    position: relative;
    display: inline-flex;
    left: 5vw;
    top: 25px;
    z-index: 2;

}

.mainHeader--middle {
    position: relative;
    left: 1vw;
    top: 40px;
}


.mainheader--srchBar {

    height: 32px;
    width: 55vw;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    vertical-align: bottom;
    padding-left: 15px;
}

.mainHeader--bottom {
    position: relative;
    top: 20px;
    margin-left: -4vw;

}

.mainNav--link {

    color: rgba(255, 255, 255, 0.603);
    text-decoration: none;
    font-style: lighter;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin-left: 14%;

}

.mainHeader--right {
    position: relative;
    top: 19px;
    left: 2vw;
}



/*Pantalla mediana */
@media (max-width: 1200px) {
    .mainHeader--navigation {
        background-color: rgba(0, 0, 0, 0.555);

    }

}