<head>

    <title>GuitarCzar</title>

    <link rel="stylesheet" href="./bin/styles/main.css">

</head>

<body>

    <header class="mainHeader mainHeader__cover">


        <section class="mainHeader mainHeader__navigation">


            <section class="mainHeader mainHeader__left">
                <!--Logo-->
                <a href="/"> <img src="./img/guitarCzar Logo.png" alt="GuitarCzar Logo" class="logo"></a>


                <!--hamburger button-->
                <div class="hamburgerButton">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>

            </section>

            <!------------------------------------------------------------------------------------------>
            <!------------------------------------------------------------------------------------------>


            <section class="mainHeader mainHeader__middle">

                <section class="mainHeader mainHeader__top">
                    <!--search bar-->
                    <input type="text" class="mainHeader mainheader__srchBar"
                        placeholder="Guitarras, Amplificadores, Bajos...">

                    <img src="./img/serchGlass.png" class="burguerGlass" alt="searchIcon">
                </section>


                <section class="mainHeader mainHeader__bottom">
                    <a href="/products?object=guitar" class="mainNav mainNav__link">Guitars</a>
                    <a href="/products?object=bass" class="mainNav mainNav__link">Basses</a>
                    <a href="/products?object=amp" class="mainNav mainNav__link">Amps</a>
                    <a href="/products?object=accessories" class="mainNav mainNav__link">Accessories</a>
                </section>

            </section>

            <!------------------------------------------------------------------------------------------>
            <!------------------------------------------------------------------------------------------>

            <section class="mainHeader mainHeader__right">
                <!--button -->
                <a href="#"> <img src="./img/headStock.png" alt="search button"
                        class="mainHeader mainHeader__searchButton"> </a>
            </section>

            <!------------------------------------------------------------------------------------------>
            <!------------------------------------------------------------------------------------------>

        </section>
        <!--closes main header navigation-->


        <div class="coverInfo">
            <a href="#" class="coverInfo__button"></a>
            <h1 class="coverInfo__title"></h1>

            <div class="bulletContainer">
                <label class="bullets">
                    <input type="radio" name="slideShowed" id="firstBullet">
                    <span class="bullet" id="firstBullet"></span>
                </label>
                <label class="bullets">
                    <input type="radio" name="slideShowed" id="secondBullet">
                    <span class="bullet" id="secondBullet"></span>
                </label>
                <label class="bullets">
                    <input type="radio" name="slideShowed" id="thirdBullet">
                    <span class="bullet" id="thirdBullet"></span>
                </label>
                <label class="bullets">
                    <input type="radio" name="slideShowed" id="fourthBullet">
                    <span class="bullet" id="fourthtBullet"></span>
                </label>
                <label class="bullets">
                    <input type="radio" name="slideShowed" id="fifthBullet">
                    <span class="bullet" id="fifthBullet"></span>
                </label>
            </div>

        </div>

        <main class="main">

            <div class="new__products">


                <h2 class="new__title"><span>NEW PRODUCTS</span></h2>



                <section class="instruments__tape">



                    <div class="instruments">
                        <img class="instrument" src="./img/guitar1.png">
                        <a class="instrument__link" href="/products?object=guitar&_id=5dc21a1a54ecb55edceb92b3">Vintera
                            '70s Telecaster™ <br> Thinline</a>
                    </div>
                    <div class="instruments">
                        <img class="instrument" src="./img/guitar2.png">
                        <a class="instrument__link" href="/products?object=guitar&_id=5dc21a1a54ecb55edceb92b5">American
                            Performer<br> Jazzmaster™ </a>
                    </div>
                    <div class="instruments">
                        <img class="instrument" src="./img/guitar3.png">
                        <a class="instrument__link" href="/products?object=guitar&_id=5dc21a1a54ecb55edceb92b1">
                            Rarities Flame Koa <br> Top Stratocaster™ </a>

                    </div>
                    <div class="instruments">
                        <img class="instrument" src="./img/guitar4.png">
                        <a class="instrument__link" href="/products?object=guitar&_id=5dc21a1a54ecb55edceb92be"> X
                            Series Dinky™ </a>

                    </div>
                    <div class="instruments">
                        <img class="instrument" src="./img/guitar5.png">
                        <a class="instrument__link" href="/products?object=guitar&_id=5dc21a1a54ecb55edceb92bd"> Pro
                            Series™ Signature <br> Misha Mansoor </a>
                    </div>
                    <div class="instruments">
                        <img class="instrument" src="./img/guitar6.png">
                        <a class="instrument__link" href="/products?object=guitar&_id=5dc21a1a54ecb55edceb92aa"> Pro
                            Series™ Monarkh<br> SCG</a>
                    </div>


                </section>
                <div class="tape__control">
                    <img src="./img/slider.png" class="left__btn" alt="button">
                    <img src="./img/slider.png" class="right__btn" alt="button">
                </div>

                <a href="/products" class="new__title more">MORE PRODUCTS</a>
            </div>

            <div class="hot__product">
                <h2 class="new__title white"> <span> HOT OF THE MONTH </span> </h2>
                <h2 class="hot__reference">GIBSON <br>LES <br>PAUL</h2>


                <div class="characteristics">
                    <h2 class="new__title"><span>SPECS</span></h2>

                    <div class="characteristic">
                        <img src="./img/mastil.png" class="characteristics__one">
                        <p class="characteristics__title one">Kluson Single <br>Line, Single Ring</p>
                    </div>

                    <div class="characteristic">
                        <img src="./img/body.png" class="characteristics__two">
                        <p class="characteristics__title two">Nitrocellulose VOS (Vintage Patina)
                        </p>
                    </div>

                    <div class="characteristic">
                        <img src="./img/palanca.png" class="characteristics__three">
                        <p class="characteristics__title three">CTS 500K Audio Taper Potentiometers, Paper-in-Oil
                            Capacitors</p>
                    </div>


                </div>


            </div>



        </main>
        <!--closes main content-->
    </header>
    <!--closes main header cover-->

    <!------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------>
    <script src="./bin/scripts/main.js"></script>

</body>

</html>